spring:
  application:
    name: windeath44.community
  datasource:
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${JDBC_DRIVER_SOURCE}
    url: ${DB_URL}
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: ${DB_PLATFORM}
server:
  port: ${SERVER_PORT}
logging:
  level:
    org.springframework.security: DEBUG
